@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	outline: none !important;
	padding: 0;
	margin: 0;
}

html,
body {
	position: relative;
}
body {
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	min-height: 100vh;
	background: #2193b0;
	background: -webkit-linear-gradient(90deg, #6dd5ed, #2193b0);
	background: linear-gradient(90deg, #6dd5ed, #2193b0);
}
p {
	margin-top: 4px;
	margin-bottom: 8px;
	font-family: 'Roboto', sans-serif;
}

.page-title {
	font-family: 'Comfortaa', cursive;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	width: 340px;
	margin: 0 auto;
}

.closeModal-btn {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: none;

	display: grid;
	place-content: center;
}
.closeModal-btn svg {
	width: 25px;
	height: 25px;
}

/************ Media запросы ************/
@media (min-width: 320px) {
	.image {
		width: 150px;
		height: 120px;
	}
}

@media (min-width: 362px) {
	.history-text {
		font-size: 11px;
	}
	.history-image__portrait {
		height: 160px;
	}
	.image {
		width: 200px;
		height: 160px;
	}
}

@media (min-width: 380px) {
	.liza-portrait {
		float: left;
	}
}

@media (min-width: 420px) {
	.image {
		width: 262px;
		height: 205px;
	}
	.page-title {
		font-size: 22px;
	}
}

@media (min-width: 550px) {
	.history-image {
		width: 200px;
		height: 160px;
	}
	.history-image__vov {
		width: 230px;
		height: 150px;
	}
	.history-image__drujina {
		display: block;
	}
	.content-vov {
		width: 440px;
	}
	.content {
		max-width: none;
		width: 440px;
	}
	.text-drujina {
		font-size: 12px;
	}

	.history-image__portrait {
		height: 160px;
	}

	.drujina-more__title {
		text-align: center;
		font-size: 22px;
	}
	.drujina-more__text {
		text-align: center;
		font-size: 13px;
	}
	.drujina-title {
		font-size: 17px;
	}
}

@media (min-width: 767px) {
	.content-vov {
		width: 590px;
		max-height: 600px;
	}
	.content {
		max-width: none;
		width: 590px;
		max-height: 600px;
	}
	.teacher-content {
		max-width: 900px;
	}

	.history-text {
		font-size: 14px;
		max-width: 425px;
	}
	.history-image__vov {
		width: 320px;
		height: 200px;
	}
	.history-image {
		width: 270px;
		height: 200px;
	}
	.history-image__portrait {
		height: 220px;
		width: 170px;
	}

	.image {
		width: 295px;
		height: 230px;
	}

	.memories-card {
		max-width: 70%;
		padding: 20px;
	}
	.mainpage span {
		bottom: 20px;
		right: 20px;
	}
}

@media (min-width: 1000px) {
	.content-vov {
		width: 800px;
		max-height: 650px;
	}
	.menu-content__link {
		font-size: 26px;
	}
	.content {
		max-width: none;
		width: 800px;
		max-height: 700px;
	}
	.graduator-content {
		max-width: 780px;
	}

	.history-text {
		font-size: 14px;
		max-width: 425px;
	}
	.history-image__vov {
		width: 450px;
		height: 280px;
	}
	.history-image__portrait {
		height: 290px;
		width: 200px;
	}

	.history-image {
		width: 370px;
		height: 260px;
	}

	.graduators-list {
		align-items: center;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.teacher-content {
		max-width: 900px;
	}
	.teacher-list {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.menu-close {
		top: 45px;
		right: 90px;
	}
	.pagination-show {
		display: block;
	}
	.top {
		right: 60px;
		bottom: 20px;
	}
}

@media (min-width: 1400px) {
	.menu-content__link {
		font-size: 34px;
	}
	.graduator-content {
		max-width: 1155px;
	}
	.teacher-content {
		max-width: 1265px;
	}
	.achivki {
		font-size: 17px;
	}
}

@media (max-width: 1000px) {
	.swiper-pagination-bullets {
		display: none;
	}
}

@media (max-width: 400px) {
	.hospital-content > .hospital-card1 {
		grid-row: 1;
		grid-column: 1;
	}
	.hospital-content > .hospital-card2 {
		grid-column: 1;
		grid-row: 2;
	}
	.hospital-content > .hospital-card3 {
		grid-column: 1;
		grid-row: 3;
	}
	.hospital-content > .hospital-card4 {
		grid-column: 1;
		grid-row: 4;
	}
	.hospital-content > .hospital-card5 {
		grid-column: 1;
	}
	.hospital-content > .hospital-card6 {
		grid-column: 1;
	}
	.hospital-content > .hospital-card7 {
		grid-column: 1;
	}
	.hospital-content > .hospital-card8 {
		grid-column: 1;
	}
}

@media (max-width: 767px) {
	.hospital-content {
		grid-template-columns: 100%;
		margin: 0;
	}
	.hospital-content > .hospital-card1 {
		grid-row: 1;
		grid-column: 1;
	}
	.hospital-content > .hospital-card2 {
		grid-column: 1;
		grid-row: 2;
	}
	.hospital-content > .hospital-card3 {
		grid-column: 1;
		grid-row: 3;
	}
	.hospital-content > .hospital-card4 {
		grid-column: 1;
		grid-row: 4;
	}
	.hospital-content > .hospital-card5 {
		grid-column: 1;
	}
	.hospital-content > .hospital-card6 {
		grid-column: 1;
	}
	.hospital-content > .hospital-card7 {
		grid-column: 1;
	}
	.hospital-content > .hospital-card8 {
		grid-column: 1;
	}
}
